main    {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 5px 5px;
    grid-template-areas: 
        "header    nav"
        "aside     section"
        "footer    footer"
    ;
}
body    {
    background-color: rgb(148, 24, 24);
}
header  {
    border: 2px solid silver;
    grid-area: header;
}
nav     {
    border: 2px solid silver;
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 20px;
}
aside   {
    border: 2px solid silver;
    grid-area: aside;
}
section {
    border: 2px solid silver;
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px 5px;
    color: white;
}
footer  {
    border: 2px solid silver;
    grid-area: footer;
}
.section-header {
    text-align: center;
    padding: 15px 0px;
}
.aside-header {
    text-align: center;
}
.sidetext {
    padding: 0px 16px;
}
.navigation-bar {
    font-size: 20px;
    text-align: center;
    padding: 15px 0px;
}
button.sportsnav {
    background-color: transparent;
    border: transparent;
    font-size: 20px;
}
.webtext {
    color: white;
}
.heading {
    font-size: 50px;
    text-decoration: none;
}
p {
    color: white;
}
.centered {
    text-align: center;
}
a {
    text-decoration: none;
}
.rightAlign {
    text-align: right;
}
.imagePadding {
    padding: 0px 15px;
}

.regbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.regbtn:hover {
    background-color: #2980B9;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}